// Compose new tweet area
.new-tweet {
  margin-top: 10px;
  display: none;
}

.new-tweet form {
  margin-top: 10px;
}

// Tweet button
.new-tweet button {
  background-color: #4056A1;
  color: #fff;
  height: 45px;
  width: 110px;
}

// Contains tweet button and character counter
.new-tweet form div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

// Textarea to input new tweet
.new-tweet textarea {
  display: block;
  box-sizing: padding-box;
  padding: 10px;
  overflow: hidden;
  background: transparent;
  resize: none;
  outline: none;
  border: 0;
  width: 100%;
}

// Change placeholder text in textarea
.new-tweet textarea::placeholder {
  color: #545149;
  opacity: 1;
  font-weight: bolder;
}

// Char counter
.counter {
  font-family: 'Bungee', cursive;
  align-self: center;
}

// Contains textarea, horizontal line and div for counter + tweet button
.new-tweet form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Horizontal line
.new-tweet hr {
  border: 2px solid #545149;
  width: 98%;
}